@model CourseViewModel
@{
    ViewData["Title"] = "Create Course";
}
<h1>@ViewData["Title"]</h1>

<div>
    @using (Html.BeginForm("Privacy", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(m=>m.Id,1);
        <p>
            @Html.LabelFor(m=>m.Name,"Input name course")
            @Html.TextBoxFor(m=>m.Name)
        </p>
        <p>
            @Html.Label("Description","Input detali of course")
            @Html.TextBox("Description","", new {type="text"})
         
        </p>
        <input type="submit" value="Enter" />
    }
</div>