@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <form method="get">
        <label>Name of Course</label>
        <input type="text" name="name" value="@Model.Filter.SelectedCourse"/>
        <input type="submit" value="Filter"/>
    </form>
    <h1 class="text-center">List of Courses</h1>
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th><a asp-action="Index" asp-route-sortState="@Model.Sort.NameSort" asp-route-name="@Model.Filter.SelectedCourse">Name</a></th>
                <th><a asp-action="Index" asp-route-sortState="@Model.Sort.AuthorSort" asp-route-name="@Model.Filter.SelectedCourse">Author</a></th>
                <th>Descriptions</th>
                <th><a asp-action="Index" asp-route-sortState="@Model.Sort.PriceSort" asp-route-name="@Model.Filter.SelectedCourse">Price</a></th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody class="table-info">
        @foreach(var item in Model.Courses)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Author</td>
                    <td>@item.Description</td>
                    <td class="text-center">@item.Price</td>
                    <td>
                        <a class="nav-link" asp-action="DetailCourse" asp-controller="course" asp-route-id="@item.Id">Detail</a>
                        <a class="nav-link" asp-action="EditCourse" asp-controller="course" asp-route-id="@item.Id">Edit</a>
                        <form method="post" asp-action="DeleteCourse" asp-controller="course" asp-route-id="@item.Id">
                            <input type="submit" class="btn-link" value="Delete"/>
                        </form>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        @if (Model.Pagination.HasPreviosPage)
        {

             <a asp-action="Index" asp-controller="Home" class="page-link"
                    asp-route-page="@(Model.Pagination.PageNumber-1)"
                   asp-route-name="@Model.Filter.SelectedCourse"
                   asp-route-sortstate="@Model.Sort.Current">Prew</a>

        }
    @if (Model.Pagination.HasNextPage)
    {
       
        <a asp-action="Index" asp-controller="Home" class="page-link"

            asp-route-page="@(Model.Pagination.PageNumber+1)"
            asp-route-name="@Model.Filter.SelectedCourse"
            asp-route-sortstate="@Model.Sort.Current">Next</a>

    }
    </div>

</div>
