@using CleanArchit.Application.ViewModels;
@model ViewCourseModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <h1 class="text-center">List of Courses</h1>
    <table class="table">
        <thead class="table-primary">
            <tr>
                <td>Name</td>
                 <td>Author</td>
                 <td>Name</td>
                <td>Price</td>
                <td>Operations</td>
            </tr>
        </thead>
        <tbody class="table-info">
        @foreach(var item in Model.Courses)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Author</td>
                    <td>@item.Description</td>
                    <td class="text-center">@item.Price</td>
                    <td>
                        <a class="nav-link" asp-action="DetailCourse" asp-controller="course" asp-route-id="@item.Id">Detail</a>
                        <a class="nav-link" asp-action="EditCourse" asp-controller="course" asp-route-id="@item.Id">Edit</a>
                        <form method="post" asp-action="DeleteCourse" asp-controller="course" asp-route-id="@item.Id">
                            <input type="submit" class="btn-link" value="Delete"/>
                        </form>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
</div>
